.shopping-cart-modal {
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.286);
  z-index: 30;
}

.shopping-cart-modal-inner {
  width: 100%;
  background-color: white;
  height: 100vh;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  font-family: var(--text-font);
}

.cart-quantity {
  margin-bottom: 10px;
}

.btn-close {
  align-self: end;
  font-size: 22px;
  cursor: pointer;
  position: absolute;
  top: 22px;
  right: 22px;
}

.shop-items {
  flex: 1;
}

.shop-checkout {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shop-checkout button {
  font-family: var(--text-font);
  border: none;
  background-color: var(--green-dark);
  color: white;
  letter-spacing: 1.5px;
  font-weight: 500;
  padding: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 100ms ease-in;
}

.shop-items {
  display: grid;
  grid-gap: 10px;
}

.cart-item {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  max-width: 350px;
  height: 150px;
}

.cart-item-image {
  height: inherit;
}

.cart-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 0 10px 20px;
  justify-content: space-between;
}

.cart-data p {
  text-transform: capitalize;
  font-style: italic;
}

.cart-item-image img {
  width: 100%;
}

.cart-data-bottom {
  display: flex;
  justify-content: space-between;
}

.remove-cart-item {
  background: transparent;
  border: none;
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
}

.multiple-items {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0 5px;
  border: 1px solid black;
  border-radius: 15px;
}

.multiple-items button {
  font-size: 18px;
  background: transparent;
  border: none;
  font-size: 13px;
  cursor: pointer;
}

@media (min-width: 670px) {
  .shopping-cart-modal-inner {
    width: 40%;
  }
}
@media (min-width: 1000px) {
  .shopping-cart-modal-inner {
    width: 30%;
  }

  .shop-checkout button:hover {
    background-color: transparent;
    border: 2px solid var(--green-dark);
    color: black;
  }
}
