.shopping-cart-modal {
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.286);
}

.shopping-cart-modal-inner {
  width: 30%;
  background-color: white;
  height: 100vh;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.btn-close {
  align-self: end;
  font-size: 22px;
  cursor: pointer;
}

.shop-items {
  flex: 1;
}

.shop-checkout {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shop-checkout button {
  border: none;
  background-color: lightgreen;
  padding: 10px;
  cursor: pointer;
}

.shop-items {
  display: grid;
  grid-gap: 10px;
}

.cart-item {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  max-width: 350px;
  padding: 10px 0;
}

.cart-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
}

.cart-data p {
  text-transform: capitalize;
  font-style: italic;
}

.cart-item-image img {
  width: 100%;
}

.cart-data-bottom {
  display: flex;
  justify-content: space-between;
}

.remove-cart-item {
  background: transparent;
  border: none;
  text-decoration: underline;
  font-style: italic;
}

.multiple-items {
  display: flex;
  gap: 10px;
}
