.main-plant {
  padding: 40px 0;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.main-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 500px;
  margin: 0 15px;
  font-family: var(--text-font);
}

.main-right .name_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.main-right h1 {
  font-size: 25px;
}

.main-right h3 {
  font-size: 18px;
  font-weight: 400;
}

.main-right div {
  font-size: 18px;
  font-weight: 500px;
}
.main-right div p {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 28px;
}

.main-right .desc {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-right button {
  border: none;
  padding: 10px;
  background-color: var(--green-dark);
  color: white;
  font-weight: 500;
  font-family: var(--text-font);
  letter-spacing: 1.5px;
}

.main-image {
  display: none;
}

.main-image img {
  width: 100%;
}

.small-images {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.small-images .image {
  width: 340px;
  flex: 0 0 auto;
}

.small-images .image img {
  width: 100%;
}

@media (min-width: 420px) {
  .small-images .image {
    width: 440px;
  }
}

@media (min-width: 670px) {
  .main-plant {
    width: 90%;
    margin: auto;
    gap: 50px;
    height: calc(100vh - 70px);
  }
  .small-images .image {
    width: 100px;
  }

  .main-image {
    display: flex;
  }

  .main-image img {
    display: block;
  }

  .main-right {
    margin: 0;
    grid-row: 1/2;
  }

  .main-left {
    grid-row: 2/3;
  }
}

@media (min-width: 890px) {
  .main-plant {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .main-left {
    grid-row: 1;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 15px;
  }

  .main-right {
    grid-row: 1;
    grid-column: 2/3;
  }

  .main-right button {
    transition: all 200ms ease-in;
    border: 2px solid transparent;
  }

  .main-right button:hover {
    border: 2px solid green;
    background-color: transparent;
    color: black;
  }

  .small-images {
    flex-direction: column;
  }
}
