.home-section-two {
  margin-top: 60px;
  font-family: var(--text-font);
  font-weight: 400;
}

.home-section-two h2 {
  font-size: 25px;
  text-align: center;
  margin: 20px 0;
  letter-spacing: 0.5px;
}

.home-section-inner {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 15px;
}

.home-section-inner .card {
  width: 340px;
  flex: 0 0 auto;
}

.home-section-inner .card img {
  width: 100%;
}

.home-section-inner .card .card-image {
  max-width: 100%;
}

.home-section-inner .card .details {
  text-align: center;
  margin: 10px 0;
}

@media (min-width: 1000px) {
  .home-section-two {
    margin: 120px 0;
  }

  .home-section-two h2 {
    font-size: 30px;
    margin: 30px 0;
  }
  .home-section-inner {
    gap: 20px;
    padding-bottom: 40px;
    scroll-snap-type: mandatory;
  }

  .home-section-inner .card {
    max-width: 300px;
  }

  .home-section-inner::-webkit-scrollbar {
    height: 6px;
  }

  .home-section-inner::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .home-section-inner::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  .home-section-inner::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.25);
  }

  @supports (scrollbar-color: red blue) {
    .home-section-inner {
      scrollbar-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.2);
      scrollbar-width: thin;
    }
  }
}
