.card-image {
  max-width: 300px;
  height: 360px;
  overflow: hidden;
  position: relative;
}

.card-image a img {
  width: 100%;
}

.pet-friendly {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  top: 20px;
  right: 0;
  background-color: var(--green-dark);
  width: 120px;
  height: 25px;
  color: white;
  font-size: 13px;
}

@media (min-width: 800px) {
  .card-image a img {
    transition: transform 0.5s ease;
  }

  .card-image:hover img {
    transform: scale(1.5);
  }
}
