.card-image {
  max-width: 300px;
  height: 360px;
  overflow: hidden;
  position: relative;
}

.card-image a img {
  width: 100%;
}

.pet-friendly {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  top: 20px;
  right: 0;
  background-color: var(--green-dark);
  width: 120px;
  height: 25px;
  color: white;
  font-size: 13px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  padding: 5px 5px 10px 5px;
}

.details h3,
.price {
  font-weight: 400;
}

@media (min-width: 800px) {
  .card-image a img {
    transition: transform 0.5s ease;
  }

  .card-image:hover img {
    transform: scale(1.5);
  }

  .details {
    flex-direction: row;
    justify-content: space-between;
  }
}
