footer {
  margin-top: 60px;
  background-color: var(--green-dark);
  position: relative;
}

footer:before {
  content: attr(data-text);
  font-size: 60px;
  padding-left: 0;
  top: -20px;
  position: absolute;
  color: rgba(255, 255, 255, 0.1);
  font-family: "Archivo", sans-serif;
  font-weight: 900;
}

.footer-inner {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  padding: 40px 0 30px 0;
  align-items: center;
  font-family: var(--text-font);
}

.social {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.social-media {
  display: flex;
  gap: 20px;
}

.social-media i {
  font-size: 24px;
  cursor: pointer;
  transition: transform 150ms ease-in;
}

.services ul,
.resources ul,
.company ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 0;
  width: 90%;
  margin: auto;
  font-family: var(--text-font);
  font-size: 15px;
}

.services h3,
.resources h3,
.company h3 {
  padding-bottom: 8px;
}

.services ul li,
.resources ul li,
.company ul li {
  cursor: pointer;
}

.footer-bottom .fa-solid.fa-heart {
  color: rgba(255, 255, 255, 0.3);
}

.footer-bottom p a {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}

@media (min-width: 670px) {
  .footer-inner {
    grid-template-columns: 2fr 1fr;
  }
  footer::before {
    font-size: 70px;
    top: 10px;
  }
}
@media (min-width: 970px) {
  .footer-inner {
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }

  .social-media i:hover {
    transform: scale(1.5);
  }
}
