.home-section-one-inner {
  display: grid;
  grid-gap: 20px;
  justify-items: center;
  margin: 30px 15px;
}

.home-section-one-inner .icons {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  font-family: var(--text-font);
  padding: 5px;
}

.home-section-one-inner .icons h4 {
  letter-spacing: 0.5px;
}

.home-section-one-inner .icons img {
  width: 80px;
}

@media (min-width: 600px) {
  .home-section-one-inner {
    width: 90%;
    margin: 120px auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .home-section-one-inner .icons img {
    width: 100px;
  }
}
