@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@800;900&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

body {
  background-color: #fffdfa;
}

:root {
  --green-light: #40b93c;
  --green-dark: #1f6534;
  --text-font: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
}
