@import url("https://fonts.googleapis.com/css2?family=Fresca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

header {
  width: 100%;
  height: 70px;
  display: flex;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "menu logo cart";
  align-items: center;
  width: 100%;
  position: relative;
  padding: 15px;
}

.logo {
  grid-area: logo;
  justify-self: center;
}

.logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 60px;
}

.logo h1 {
  color: rgba(0, 0, 0, 0.56);
  position: relative;
  font-family: "indie flower", sans-serif;
  font-size: 22px;
  align-self: end;
}

.logo h1:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background-color: var(--green-light);
  border-radius: 100%;
  bottom: 11px;
  right: -7px;
}

.burger-menu {
  position: absolute;
  left: 0;
  grid-area: menu;
  font-size: 22px;
  cursor: pointer;
  z-index: 20;
}

.nav-items {
  list-style: none;
  top: 0;
  position: absolute;
  background-color: #fff;
  z-index: 20;
  height: calc(100vh - 70px);
  width: 100%;
  flex-direction: column;
  padding: 100px 15px;
  gap: 50px;
  display: none;
  font-family: var(--text-font);
  font-weight: 400;
  letter-spacing: 1px;
}

.nav-items li a {
  text-decoration: none;
  color: black;
}

.nav-cart {
  background: transparent;
  padding: 7px;
  border: 1px solid var(--green-dark);
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  grid-area: cart;
  justify-self: end;
  align-self: center;
}

.items-number {
  position: absolute;
  bottom: -10px;
  right: -10px;
  background-color: var(--green-dark);
  padding: 3px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
  font-weight: 400;
}

.nav-items.show {
  display: flex;
}

@media (min-width: 670px) {
  .burger-menu {
    display: none;
  }
  .nav-items {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    position: initial;
    height: initial;
    width: initial;
    flex-direction: row;
    background: none;
    padding: 0;
    justify-content: center;
    margin-right: 100px;
  }

  nav {
    padding: 0 30px;
    grid-template-areas: "logo menu cart";
    grid-template-columns: auto 1fr auto;
  }

  .logo img {
    width: 70px;
  }

  .logo h1 {
    font-size: 25px;
  }
}
