header {
  width: 100%;
  height: 60px;
  /* background: linear-gradient(to right, white 0%, white 50%, rgba(82, 122, 72, 0.53) 50%, rgba(82, 122, 72, 0.53) 100%); */
}

nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 10px 0;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
  color: black;
}

.cart {
  background: transparent;
  padding: 7px;
  border: 1px solid royalblue;
  border-radius: 3px;
  position: relative;
}

.items-number {
  position: absolute;
  bottom: -10px;
  right: -10px;
  background-color: royalblue;
  padding: 3px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
}
